.o_custom_highlight {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
}

.o_custom_button {
    background-color: #ffae00;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.o_custom_button:hover {
    background-color: #ca7d09e5;
}
